.font-size(@size){
	font-size: 1em * (@size/16pt);
}

@font-face {
	font-family: "Gotham";
	font-weight: normal;
	src: url('../fonts/GothamMedium.woff') format('woff');
}

@font-face {
	font-family: "Gotham Extra Light";
	font-weight: normal;
	src: url('../fonts/GothamExLight.woff') format('woff');
}

@font-face {
	font-family: "Greenback";
	font-weight: normal;
	src: url('../fonts/NumbersGreenback.woff') format('woff');
}