.table {
	@col_width_rank: 51px;
	@col_width_acv: 170px;
	@col_width_quota: 170px;

	@col_gap_rank_name: 70px;
	@col_gap_acv_quota: 172px;

	margin   : 173px 78px 0;
	position : relative;

	.rank {
		margin-right : @col_gap_rank_name;
		text-align   : center;
		width        : @col_width_rank;
	}

	.acv {
		text-align   : right;
		width        : @col_width_acv;
	}

	.quota {
		margin-right : @col_gap_acv_quota;
		text-align   : right;
		width        : @col_width_quota;
	}

	.headers {
		.font-size(40pt);
		color          : #63a6f4;
		height         : 35px;
		position       : absolute;
		right          : 0;
		top            : -35px;
		text-transform : uppercase;

		> span {
			display: inline-block;
		}
	}

	.row {
		display             : -ms-flexbox;

		display             : -webkit-flex;
		-webkit-flex-flow   : row no-wrap;
		-webkit-align-items : baseline;

		display             : -moz-flex;
		-moz-flex-flow      : row no-wrap;
		-moz-align-items    : baseline;

		-ms-flex-direction  : row;
		-ms-flex-wrap       : nowrap;
		-ms-flex-align      : baseline;

		display             : flex;
		flex-flow           : row no-wrap;
		align-items         : baseline;

		border-top          : 2px dotted #2a466e; //TODO replace dots with image for better pattern control
		padding             : 35px 0;

		> span {
			display: block; //IE flexbox doesn't auto-block children (FUCK YOU IE)
		}

		.rank {
			.font-size(80pt);
			font-family: "Gotham Extra Light";
		}

		.name {
			.font-size(90pt);
			-moz-flex    : 1;
			-ms-flex     : 1;
			-webkit-flex : 1;
			flex         : 1;
		}

		.acv, .quota {
			.font-size(70pt);
			font-family: "Greenback";
			white-space: pre;
		}

		&.first-row {
			border-top: none;
		}

		&.hidden {
			display: none;
		}
	}
}
